{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in page_obj %}
                <div class="book col-md-4">
                    <h2>{{ book.title }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% empty %}
                <p>Книги не найдены.</p>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if previous_date %}
                    <a href="{% url 'books_by_date' previous_date|date:'Y-m-d' %}">&laquo; предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if next_date %}
                    <a href="{% url 'books_by_date' next_date|date:'Y-m-d' %}">следующая &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
